@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ+Basic:wght@100..400&family=Shojumaru&family=Special+Gothic:wght@400..700&display=swap');
body{
    font-family:"Special Gothic";
    background-image:url("/assets/bg.jpg");
    text-align:center;
    color:#fffbe6;
    font-size:24px;
    overflow-x:hidden ;
}
#title{
    font-size:4rem;
    margin-bottom:16px;
    font-family:"Playwrite NZ Basic"
}
#brainTxt{
    font-family:"Shojumaru",system-ui;
}
.empty{
    height:2000px;
}
